div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div a {
  text-decoration: none;
  background-color: #2081c3;
  color: #F7F9F9;
  padding: 0.8rem 1.8rem;
  border-radius: 0.8rem;
  margin: 0.8rem;
  box-shadow: 5px 5px 5px #bfbfbf;
}

img {
  height: 20rem;
}
